n8n & Sheets/n8n & Sheets.json
{
  "name": "Test n8n",
  "nodes": [
    {
      "parameters": {
        "fieldToSplitOut": "links",
        "options": {}
      },
      "id": "88d39f7e-3bbb-4fa8-ba0b-d10de55b39ea",
      "name": "Split Out1",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        416,
        -192
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "252e268c-a8e1-4293-ae6d-b1c66f4a2727",
      "name": "Loop Over Items1",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        656,
        96
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "amount": 4
      },
      "id": "f77a9ff1-f18f-407a-827b-af8b634225f5",
      "name": "Wait2",
      "type": "n8n-nodes-base.wait",
      "position": [
        -1360,
        -160
      ],
      "webhookId": "c9cb4878-ae4d-4b8e-bd37-5395011f7761",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1tcl58H2FqwZ5kSfGYN9SBThh9YqgNqMCkgwQLQ18dtY",
          "mode": "list",
          "cachedResultName": "auto_job_n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tcl58H2FqwZ5kSfGYN9SBThh9YqgNqMCkgwQLQ18dtY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 490993463,
          "mode": "list",
          "cachedResultName": "result_n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tcl58H2FqwZ5kSfGYN9SBThh9YqgNqMCkgwQLQ18dtY/edit#gid=490993463"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "output",
              "displayName": "output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "jobid",
              "displayName": "jobid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "applyUrl",
              "displayName": "applyUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "coverLetter",
              "displayName": "coverLetter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "applicants",
              "displayName": "applicants",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "postedTime",
              "displayName": "postedTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "71fab3df-b9d3-47d4-8a49-ebf21e509cd8",
      "name": "Append or update row in sheet1",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -144,
        48
      ],
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dTKTOW23HnH4gDoe",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1tcl58H2FqwZ5kSfGYN9SBThh9YqgNqMCkgwQLQ18dtY",
          "mode": "list",
          "cachedResultName": "auto_job_n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tcl58H2FqwZ5kSfGYN9SBThh9YqgNqMCkgwQLQ18dtY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 13166167,
          "mode": "list",
          "cachedResultName": "test Query",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tcl58H2FqwZ5kSfGYN9SBThh9YqgNqMCkgwQLQ18dtY/edit#gid=13166167"
        },
        "options": {}
      },
      "id": "3355de6f-47c1-4719-aa1b-6d9e0c68d4ae",
      "name": "Get row(s) in sheet1",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -736,
        -352
      ],
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dTKTOW23HnH4gDoe",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let url = \"https://www.linkedin.com/jobs/search/?f_TPR=r43200\"\n\n// let url = \"https://www.stepstone.de/work/\"\n\nconst keyword = $input.first().json.Keyword\nconst location =  $input.first().json.Location\nconst experienceLevel = $input.first().json['Experience Level']\nconst remote = $input.first().json.Remote\nconst jobType = $input.first().json['Job Type']\nconst easyApply = $input.first().json['Easy Apply']\n\nif (keyword != \"\") {\n  url += `&keywords=${keyword}`;\n}\n\nif (location != \"\") {\n  url += `&location=${location}`;\n}\n\nif (experienceLevel) {\n  // we have experienceLevel as a string with values like \"Internship, Entry level\"\n  // we  transform it to \"1,2,3\" where:\n  // Internship -> 1\n  // Entry level -> 2\n  // Associate -> 3\n  // Mid-Senior level -> 4\n  // Director -> 5\n  // Executive -> 6\n  const transformedExperiences = experienceLevel.split(\",\")\n    .map((exp) => {\n      switch (exp.trim()) {\n        case \"Internship\":\n          return \"1\";\n        case \"Entry level\":\n          return \"2\";\n        case \"Associate\":\n          return \"3\";\n        case \"Mid-Senior level\":\n          return \"4\";\n        case \"Director\":\n          return \"5\";\n        case \"Executive\":\n          return \"6\";\n        default:\n          return \"\";\n      }\n    })\n    .filter(Boolean); // filter out any empty strings\n  url += `&f_E=${transformedExperiences.join(\",\")}`;\n}\n\n// if (remote.length) {\n\nif (typeof remote === \"string\" && remote.trim() !== \"\") {\n  // we have location as a string with values like \"Remote, Hybrid\"\n  // we transform it to \"2,3,1\" where:\n  // On-Site -> 1\n  // Remote -> 2\n  // Hybrid -> 3\n  const transformedRemote = remote\n    .split(\",\")\n    .map((e) => {\n      switch (e.trim()) {\n        case \"Remote\":\n          return \"2\";\n        case \"Hybrid\":\n          return \"3\";\n        case \"On-Site\":\n          return \"1\";\n        default:\n          return \"\";\n      }\n    })\n    .filter(Boolean); // filter out any empty strings\n  url += `&f_WT=${transformedRemote.join(\",\")}`;\n}\n\nif (jobType) {\n  // we have jobType as a string with values like \"Full-time, Part-time\"\n  // we transform it to \"F,P\" where:\n  // Full-time -> F\n  // Part-time -> P\n  // Contract -> C\n  // Temporary -> T\n  // Other -> O\n  // Internship -> I\n  const transformedJobType = jobType.split(\",\").map((type) => type.trim().charAt(0).toUpperCase());\n  url += `&f_JT=${transformedJobType.join(\",\")}`;\n}\n\nif (easyApply) {\n  url += \"&f_EA=true\";\n}\n\nreturn {url}"
      },
      "id": "cb03f5c6-363a-4a0d-b411-5798619c4278",
      "name": "Create search URL1",
      "type": "n8n-nodes-base.code",
      "position": [
        -464,
        -352
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 17
            }
          ]
        }
      },
      "id": "91938a0a-050c-49c1-bbaa-60d67cfe7b41",
      "name": "Schedule Trigger1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -1248,
        -352
      ],
      "notesInFlow": false,
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "id": "df9edd55-169a-46e0-bc86-15d87ab812a5",
      "name": "Fetch Jobs from Linkedin1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -160,
        -352
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "url": "={{ $json.links }}",
        "options": {}
      },
      "id": "4d7e5733-3f97-4597-a2b5-bfe4528ab51d",
      "name": "Fetch Job Page1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -1168,
        -160
      ],
      "executeOnce": false,
      "retryOnFail": true,
      "typeVersion": 4.2,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "title",
              "cssSelector": "div h1"
            },
            {
              "key": "company",
              "cssSelector": "div span a"
            },
            {
              "key": "location",
              "cssSelector": "div span[class*='topcard__flavor topcard__flavor--bullet']"
            },
            {
              "key": "description",
              "cssSelector": "div.description__text.description__text--rich"
            },
            {
              "key": "jobid",
              "cssSelector": "a[data-item-type='semaphore']",
              "returnValue": "attribute",
              "attribute": "data-semaphore-content-urn"
            },
            {
              "key": "applicants",
              "cssSelector": "span.num-applicants, [data-test-job-details-applicants], span[data-test-job-details-applicants-text], figcaption.num-applicants__caption, figure.num-applicants__figure span.num-applicants__caption, [class*='num-applicants__caption']"
            },
            {
              "key": "postedTime",
              "cssSelector": "span.posted-time-ago__text.posted-time-ago__text--new.topcard__flavor--metadata"
            }
          ]
        },
        "options": {}
      },
      "id": "ed0e41fc-7e02-44b3-8d93-e920a3b07158",
      "name": "Parse Job Attributes1",
      "type": "n8n-nodes-base.html",
      "position": [
        -960,
        -160
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "784ead57-9d83-4e08-b83c-23fa165bf045",
              "name": "description",
              "type": "string",
              "value": "={{ $json.description.replaceAll(/\\s+/g, \" \") }}"
            },
            {
              "id": "fd3c9d2c-5ff9-46a7-b70a-f990fbc7da9d",
              "name": "jobid",
              "type": "string",
              "value": "={{ $json.jobid.split(\":\").last() }}"
            },
            {
              "id": "27a20cd2-ab0d-42b7-9cee-ea64e0e26ea3",
              "name": "applyUrl",
              "type": "string",
              "value": "={{ \"https://www.linkedin.com/jobs/view/\"+ $json.jobid.split(\":\").last() }} "
            },
            {
              "id": "a3e94d60-facf-4470-bbcd-585a96eec9cb",
              "name": "applicants",
              "value": "={{ \n    $json.applicants \n    ?.match(/(\\\\d+(?:\\\\+|\\\\s*Bewerber:innen|\\\\s*to apply))/i)?.[0] \n    || $json.applicants \n    || 'N/A' \n  }}",
              "type": "string"
            },
            {
              "id": "345917b0-f781-4c71-9b96-54be96a6a158",
              "name": "postedTime",
              "value": "={{ $json.postedTime?.trim() || 'N/A' }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "a14a3e8e-ca52-4705-8b57-ceb424e00333",
      "name": "Modify Job Attributes1",
      "type": "n8n-nodes-base.set",
      "position": [
        -576,
        -160
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "links",
              "cssSelector": "ul.jobs-search__results-list li div a[class*=\"base-card\"]",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "id": "a3c2252f-5fee-42f5-87ba-9dc0d6c707c6",
      "name": "Extract Job Links1",
      "type": "n8n-nodes-base.html",
      "position": [
        144,
        -352
      ],
      "typeVersion": 1.2
    }
  ],
  "pinData": {},
  "connections": {
    "Split Out1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Fetch Job Page1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Create search URL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create search URL1": {
      "main": [
        [
          {
            "node": "Fetch Jobs from Linkedin1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Jobs from Linkedin1": {
      "main": [
        [
          {
            "node": "Extract Job Links1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Job Page1": {
      "main": [
        [
          {
            "node": "Parse Job Attributes1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Job Attributes1": {
      "main": [
        [
          {
            "node": "Modify Job Attributes1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Modify Job Attributes1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Job Links1": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1828b1bd-6631-4dce-abd8-126d6f633705",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2352b6e9f575e29ae612b8294592c05775ade39d453c6d6acf34d912833614fb"
  },
  "id": "7H3lm1kcDHuxVbDi",
  "tags": []
}